.photo-gallery {
  display: flex;
  flex-wrap: wrap; 
  gap: 20px;
  padding: 20px;
  justify-content: center;
  width: 100%;
}

.photo-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 32%; 
  min-width: 250px;
}

.photo-card img {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}

/* Buttons */
button, a > button {
  background: #ba0000;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 10px;
  margin:10px;
}
.Green{
  background-color: cadetblue;
}

button:hover {
  background: #cc0000;
}

a > button {
  background: #004dfe;
}

a > button:hover {
  background: #013dc9;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .photo-card {
    width: 48%; 
  }
}

@media (max-width: 768px) {
  .photo-gallery {
    gap: 15px; 
  }

  .photo-card {
    width: 100%; 
  }
}
